{% extends 'layout.html' %}

{% block pageTitle %}
 I cannot take photos of my documents or face
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}



{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
        I cannot take photos of my documents or face
      </h1>

      <p>Email <a href="#">ra-services-birmingham@nhs.net</a> to continue.</p>
 
       <p>What to include in your email:</p>
 
       <ul>
         <li>subject line: Apply for Care ID - cannot take photos of documents or face</li>
         <li>your application ID (4650349sc-28449347-ck340347-cn34834)</li>
         <li>this description: I cannot take photos of my documents or face, and need support to continue my application.</li>
         <li>the reason for not being able to take photos</li>
       </ul>
 
       <h2 class="nhsuk-heading-m">What happens next</h2>

       <p>The team managing your application will respond with instructions on how to continue your application.</p>

       <p>You may need to attend a face to face meeting.</p>
       
      <p class="nhsuk-u-margin-top-8">This is a new service, your <a href="">feedback</a> will help us improve it.</p>
     
    </div>

  </div>
{% endblock %}
