{% extends 'layout.html' %}

{% block pageTitle %}
We have notified the team managing your application
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-alert nhsuk-alert--info">
        <h3 class="nhsuk-u-visually-hidden">Information:</h3>
        <p class="nhsuk-u-font-weight-bold">We have notified the team managing your application</p>
      </div>
      

      <p>We have also sent you an email confirmation.</p>

      <h2>
        What happens next
      </h2>
    

      <p>The team managing your application will respond with instructions on how to continue your application, and:</p>

      <ul>
        <li>you may need to attend a face to face meeting</li>
        <li>you may be asked to provide other evidence to prove your identity</li>
       </ul>

      <p>If you do not hear back from the team managing your application in a few working days, email <a href="">[inviter-support-email]</a></p>

      <p>You may now close this page.</p>

      <p>This is a new service, your <a href="">feedback</a> will help us improve it.</p>

    </div>

  </div>
{% endblock %}
