{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Prove your identity
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Add your content here -->

      <h1>
        Prove your identity
      </h1>

      <p>At this stage of the application you will be asked to prove your identity.</p>
        
        <p>You will need your:</p>
        <ul>
          <li>passport</li>
          <li>driving licence</li>
          <li>bank statement</li>
        </ul>   
  
  
        <p>You must submit your application by <strong>Wednesday 27 December 2023 5pm</strong>.</p>

        <a href="#" class="nhsuk-button">
          Continue
        </a>
  

    </div>

  </div>
{% endblock %}
