{% extends 'layout-service-dev-ready.html' %}

{% block pageTitle %}
  Write your alert
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/service/dev-ready/alerts-type",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/service/dev-ready/alerts-review" method="post" class="form">

        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl nhsuk-u-margin-bottom-7" >
              <h1 class="nhsuk-fieldset__heading">
                Write your alert
              </h1>
            </legend>
            
            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="heading">
                Heading
              </label>
              <textarea class="nhsuk-textarea" id="heading" name="heading" rows="2" value="{{ data['heading'] }}"></textarea>
            </div>

            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="body">
                Body text (optional)
              </label>
              <textarea class="nhsuk-textarea" id="body" name="body" rows="2" value="{{ data['body'] }}"></textarea>
            </div> 

            <div class="nhsuk-form-group">
      
              <div class="nhsuk-checkboxes nhsuk-checkboxes--conditional">
        
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="link-1" name="link" type="checkbox" value="email" aria-controls="conditional-link-1" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="link-1">
                    Include a link to a webpage
                  </label>
                </div>
        
                <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="conditional-link-1">
        
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="link-text">
                      Link text
                    </label>
                    <input class="nhsuk-input nhsuk-u-width-one-half" id="link-text" name="link-text" type="text" value="{{ data['link-text'] }}">
                  </div>
      
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="link-url">
                      Link url
                    </label>
                    <input class="nhsuk-input nhsuk-u-width-full" id="link-url" name="link-url" type="text" value="{{ data['link-url'] }}">
                  </div>     
      
        
                </div>
        
              </div>
    
          </div>

          </fieldset>
        
        </div>



        
      
        

        {{ button({
          "text": "Continue"
        }) }}

      </form>
        
       
  
      


    </div>

  </div>
{% endblock %}
