{% extends 'layout-service-dev-ready.html' %}

{% block pageTitle %}
 Manage inviter alerts
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/service/dev-ready/au10tix-dashboard",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1>
        Manage alerts
      </h1>

      <p class="nhsuk-u-reading-width">Set up a warning or information alert to display to inviters in the 'Manage applications' dashboard. </p>

      <a class="nhsuk-button" href="/service/dev-ready/alerts-type">Create new alert</a>

      <a class="nhsuk-button" disabled="disabled" style="display:none;" href="/service/dev-ready/">Create new alert</a>


    </div>

  </div>
{% endblock %}
