{% extends 'layout-service-dev-ready.html' %}

{% block pageTitle %}
  Service management
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1>
        Service management
      </h1>

      <h2>Au10tix links</h2>

      <ul class="nhsuk-grid-row nhsuk-card-group">
        
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="/service/dev-ready/au10tix-create-link">Create a new Au10tix link</a>
              </h2>
              <p class="nhsuk-card__description">Create a new Au10tix link for an applicant when there is an issue using the service.</p>
            </div>
          </div>
        </li>
        
      </ul>

      <h2>Application statuses</h2>

      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="/service/dev-ready/cancel">Cancel an application</a>
              </h2>
              <p class="nhsuk-card__description">Cancel an application to prevent an applicant continuing.</p>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="/service/dev-ready/overturn-rejection">Override a rejection</a>
              </h2>
              <p class="nhsuk-card__description">Approve an application that has been rejected in error.</p>
            </div>
          </div>
        </li>
      </ul>

    </div>

  </div>
{% endblock %}
