{% extends 'layout.html' %}

{% block pageTitle %}
Check the photo of your face
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/applicant/v22/step-2/upload-photo",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      
     

        <h1>Check the photo of your face</h1> 

        <div class="nhsuk-warning-callout">
          <h3 class="nhsuk-warning-callout__label">
            <span role="text">
              <span class="nhsuk-u-visually-hidden">Important: </span>
              Important
            </span>
          </h3>
          <p>If your photo does not meet the guidelines, you may need to complete your application again.</p>
        </div> 

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <h2>Edit photo</h2>
            <figure class="nhsuk-image nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-3" id="crop-image">
              <img class="nhsuk-image__img" src="/images/cropper.png" alt="photo of your face">
            </figure>
            <p class="nhsuk-body-s nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-2">
              Move: <a href="#01">Left</a> |
              <a href="#02">Right</a> |
              <a href="#03">Up</a> |
              <a href="#04">Down</a> |
              <a href="#05">Zoom in</a> |
              <a href="#06">Zoom out</a>
            </p>
            <p class="nhsuk-body-s">
              Rotate:
              <a href="#07">Clockwise</a> |
              <a href="#08">Anticlockwise</a>
            </p>

          </div>

          <div class="nhsuk-grid-column-one-third">
            <h2>Preview</h2>
            <figure class="nhsuk-image nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-3" id="preview-image" >
              <img class="nhsuk-image__img" src="/images/preview.png" alt="photo of your face">
            </figure>
          </div>
        </div>

        <p class="nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"><a href="/applicant/v22/step-2/check-your-details-dpoa" class="nhsuk-button nhsuk-u-width-one-third">Submit photo</a></p>
        
        <p><a href="/applicant/v22/step-2/upload-photo" class="nhsuk-button nhsuk-button--secondary nhsuk-u-width-one-third">Retake photo</a></p>
          
        
        
          
     
    </div>
  </div>

{% endblock %}
