{% extends 'layout-inviter-dev-ready.html' %}

{% block pageTitle %}
  Application sent
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-alert nhsuk-alert--success nhsuk-alert--icon">
        <svg class="nhsuk-icon nhsuk-icon__tick nhsuk-alert__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
          <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
        </svg>
        <h1 class="nhsuk-u-visually-hidden">Success:</h1>
        <p class="nhsuk-u-font-weight-bold">Application created successfully</p>
      </div>

      <h2 class="nhsuk-u-margin-top-7">What happens next</h2>

      <p>The applicant will be sent a link to an online form to enter their personal details. </p>

      <p>Then they will be sent a link to take photos of their ID documents and face to prove their identity.</p>

      <p class="nhsuk-u-margin-bottom-5">The application will be checked, and either approved or rejected, by an ID checker. The outcome will be added to the inviter dashboard.</p>

      <div><a href="/inviter/dev-ready/enter-details" class="nhsuk-button">
        New application
      </a></div>

      <p><a href="/inviter/dev-ready/dashboard" class="nhsuk-link">
        Or manage applications</a></p>



    </div>
  </div>
{% endblock %}
