{% extends 'layout-email.html' %}

{% block pageTitle %}
  Download the NHS Verify Care ID app
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full"> 
      <p class="nhsuk-u-margin-top-5"><strong>From:</strong> NHS-Care-ID</p>
    </div>
  </div>

  <div class="nhsuk-grid-row" >

    <div class="nhsuk-grid-column-one-third email-layout">

      <!-- Add your content here -->

      <div class="nhsuk-u-padding-5">

        <p>Dear Robyn, you need to apply for a smartcard as part of your job.</p>

        <p>We emailed you about this on 9 September.</p>

        <p>Start application: <a href="">https://apply-for-care-identity.care-identity-service2.nhs.uk/authenticate</a></p>

      </div>


    </div>

  </div>

{% endblock %}
