{% extends 'layout.html' %}

{% block pageTitle %}
  Image gallery
{% endblock %}

{% block beforeContent %}
{% endblock %}



{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
       Image gallery
      </h1>

      <div class="nhsuk-gallery-wrapper parent first" role="region" aria-label="Here is an image gallery with images and detailed descriptions. Select an image tab to get the bigger version of the image and to access the description.">
        <!-- https://www.w3.org/TR/wai-aria-practices/examples/tabs/tabs-1/tabs.html -->
        <div role="tablist" class="nhsuk-list nhsuk-gallery-image-thumbnail_list child child-2 auto" aria-label="Image gallery">
          <button role="tab" type="button" class="nhsuk-gallery-button-tab" aria-selected="false" aria-controls="gallery-prototype-image-1" tabindex="-1">
            <img class="nhsuk-gallery-image-thumbnail_img" src="/images/correct.png" alt="1.	White skin with stage 1 of the chickenpox rash." width="150" height="100">
            <div class="image-number nhsuk-u-font-size-14" aria-hidden="true">1</div>
          </button>
          <button role="tab" type="button" class="nhsuk-gallery-button-tab" aria-selected="false" aria-controls="gallery-prototype-image-2" tabindex="-1">
            <img class="nhsuk-gallery-image-thumbnail_img" src="/images/biometric.png" alt="2.	Light brown skin with stage 1 of the chickenpox rash." width="150" height="100">
            <div class="image-number nhsuk-u-font-size-14" aria-hidden="true">2</div>
          </button>
          <button role="tab" type="button" class="nhsuk-gallery-button-tab" aria-selected="false" aria-controls="gallery-prototype-image-3" tabindex="-1">
            <img class="nhsuk-gallery-image-thumbnail_img" src="/images/face.png" alt="3.	Light brown skin with stage 1 of the chickenpox rash." width="150" height="100">
            <div class="image-number nhsuk-u-font-size-14" aria-hidden="true">3</div>
          </button>
        </div>
        <figure id="gallery-prototype-image-1" class="nhsuk-gallery-image-proto" role="tabpanel">
          <img class="nhsuk-image__img" src="/images/correct.png" alt="Stage 1 of chickenpox on white skin. Spots are red and pink, and less than 1cm in size. Some are raised but others are flat.">
          <figcaption class="nhsuk-image-proto__caption">
            <details class="nhsuk-details">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">Image uploaded by applicant</span>
              </summary>
              <div class="nhsuk-details__text">
              </div>
            </details>
          </figcaption>
        </figure>
        <figure id="gallery-prototype-image-2" class="nhsuk-gallery-image-proto" role="tabpanel" hidden="">
          <img class="nhsuk-image__img" src="/images/biometric.png" alt="Stage 1 of chickenpox on light brown skin. Spots are red or pink. Some are raised while others are flat.">
          <figcaption class="nhsuk-image-proto__caption">
            <details class="nhsuk-details">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">Image extracted from Photo ID</span>
              </summary>
              <div class="nhsuk-details__text">
              </div>
            </details>
          </figcaption>
        </figure>
        <figure id="gallery-prototype-image-3" class="nhsuk-gallery-image-proto" role="tabpanel" hidden="">
          <img class="nhsuk-image__img" src="/images/face.png" alt="Stage 1 of chickenpox on light brown skin. Spots are pink or skin colour. Some are raised while others are flatter.">
          <figcaption class="nhsuk-image-proto__caption">
            <details class="nhsuk-details">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">Image from face scan</span>
              </summary>
              <div class="nhsuk-details__text">
              </div>
            </details>
          </figcaption>
        </figure>
        <!-- Just need to make sure the 'aria-controls' section matches the 'id' of the figures above -->
      </div>
      

    </div>

  </div>
{% endblock %}
