{% extends 'layout.html' %}

{% block pageTitle %}
 There is a problem with the service
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        There is a problem with the service
      </h1>

      <p>Follow these steps to try to resolve it.</p>

      <ol class="nhsuk-heading-m" style="display:none;">
        <li>
          <h3>Restart your application</h3>
          <p class="nhsuk-body nhsuk-u-font-weight-normal">Use this link to <a href="">restart your application</a>.</p>
        </li>
        <li>
          <h3>Check common issues</h3>
          <p class="nhsuk-body nhsuk-u-font-weight-normal">Visit our <a href="">support pages</a> for troubleshooting tips.</p>
        </li>
        <li>
          <h3>Contact our service desk</h3>
          <p class="nhsuk-body nhsuk-u-font-weight-normal">If the issue continues, email our service desk at <a href="">ssd.nationalservicedesk@nhs.net</a>.</p>
          <p class="nhsuk-body nhsuk-u-font-weight-normal">Your email should include:</p>
          <ul class="nhsuk-body nhsuk-u-font-weight-normal">
            <li>subject line: Apply for Care ID - technical issue with Prove your identity service</li>
            <li>your application ID (4650349sc-28449347-ck340347-cn34834)</li>
            <li>a description of the issue</li>
          </ul>

        </li>
      </ol>

      <h3>1. Restart your application</h3>
      <p>Use this link to <a href="">restart your application</a>.</p>

      <h3>2. Check common issues</h3>
      <p>Visit our <a href="">support pages</a> for troubleshooting tips.</p>

      <h3>3. Contact our service desk</h3>
      <p>If the issue continues, email our service desk at <a href="">ssd.nationalservicedesk@nhs.net</a>.</p>
      <p>Your email should include:</p>
      <ul>
        <li>subject line: Apply for Care ID - technical issue with Prove your identity service</li>
        <li>your application ID (4650349sc-28449347-ck340347-cn34834)</li>
        <li>a description of the issue</li>
      </ul>


      <p>This is a new service, your <a href="">feedback</a> will help us improve it.</p>





    </div>

  </div>
{% endblock %}
