{% extends 'layout.html' %}

{% block pageTitle %}
There is a problem with the service
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

     <h1>There is a problem with the service</h1>

      <p>Try again later.</p>
      <p>If you need support or to report the problem email: <a href="">ssd.nationalservicedesk@nhs.net</a></p>
      <p>What to include in your email:</p>
      <ul>
        <li>subject line: Apply for Care ID - technical issue with prove your identity service</li>
        <li>your application ID (4650349sc-28449347-ck340347-cn34834)</li>
        <li>a description of the issue, including...</li>
      </ul>


  

      
    </div>
  </div>


{% endblock %}
